@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Avenida Caseros 615<br />
    San Telmo, CABA, Argentina<br />
    <abbr title="Phone">P:</abbr>
    1141741200
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">gstnjs@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">gastonjs@outlook.com</a>
</address>